.check
{
    opacity:0.5;
	color:#996;
	
}

.col-md-3, .col-md-4{
    display: inline-block;
    text-align: center;
    opacity: 0.8;
}

.col-sm-6 {
    display: inline-block;
    text-align: center;
}